DATABASE_URL=sqlite:///./patient_portal.db

# PostgreSQL pozniej:
# DATABASE_URL=postgresql+psycopg://patient_user:patient_password@localhost:5432/patient_portal

MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=patient_portal
